.contact{
    width: 100%;
    height: 990px;
    display: flex;
    justify-content: center;
    .contact-box{
        display: flex;
        justify-content: center;
        
        width: 1200px;
        text-align: center;
        flex-direction: column;
        h1{
            font-family: "Nunito", sans-serif;
            font-size: 48px;
            font-weight: 700;
        }
        h2{
            font-family: "open sans", sans-serif;
            font-size: 36px;

        }
        span{
            color: red;
        }
        label{
            font-family: "open sans", sans-serif;
            font-size: 14px;
            color: #757575;
            font-weight: 500;
        }
        .form-block{
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: #F4F6F8;
            box-shadow: 1px 4px 10px 0 #757575;
            border-radius: 20px;
            img{
                border-radius: 20px 0 0 20px
            }
            .form{
                display: flex;
                width: 540px;
                height: 600px;
                flex-wrap: wrap;
                justify-content: space-between;
                text-align: left;
                margin-right: 80px;
    
                .name{
                    display: flex;
                    flex-direction: column;
                    input{
                        width: 255px;
                        height: 40px;
                        border-radius: 5px;
                        background-color: #F4F6F8;
                        box-shadow: inset 0 5px 5px #888;
                        }
                }
                .lastname{
                    display: flex;
                    flex-direction: column;
                    input{
                        width: 255px;
                        height: 40px;
                        border-radius: 5px;
                        background-color: #F4F6F8;
                        box-shadow: inset 0 5px 5px #888;
                       }
                }
                .email{
                    display: flex;
                    flex-direction: column;
                    input{
                        width: 540px;
                        height: 40px;
                        border-radius: 5px;
                        background-color: #F4F6F8;
                        box-shadow: inset 0 5px 5px #888;
                       }
                }
                .phone-block{
                    display: flex;
                    justify-content: space-between;
                    width: 540px;
                    input{
                        width: 255px;
                        height: 40px;
                        border-radius: 5px;
                        background-color: #F4F6F8;
                        box-shadow: inset 0 5px 5px #888;
                    }
                    .telephone{
                        width: 255px;
                        height: 40px;
                        display: flex;
                        flex-direction: column;
                        border-radius: 5px;
                        
                        }
                    .country{
                        width: 255px;
                        height: 40px;
                        display: flex;
                        flex-direction: column;
                        border-radius: 5px;
                        
                    }
                }
                .message{
                    display: flex;
                    flex-direction: column;
                    input{
                        width: 540px;
                        height: 169px;
                        border-radius: 5px;
                        padding-bottom: 100px;
                        background-color: #F4F6F8;
                        box-shadow: inset 0 5px 5px #888;
                        }
                }
                .terms{
                    display: flex;
                    width: 540px;
                    justify-content: space-between;
                    align-items: center;
                    input{
                        margin-bottom: 8px;
                    }
                    h4{
                        font-family: "open sans", sans-serif;
                        font-size: 12px;
                        font-weight: 600;
                    }
                }
                .btn{
                    width: 173px;
                    height: 50px;
                    border-radius: 50px;
                    background-color:#ed1846;
                    margin-left: 190px;
                }
                
            }
        }
    }
}