@import "mixins";
.delivery{
    height: 664px;
    margin-top: 360px;
    .content{
        width: 100%;
        .tittle{
            width: 1200px;
            margin: 0 auto;
            text-align: center;
            h2{
                font-family: "nunito", sans-serif;
                font-size: 48px;
                font-weight: 500;
            }
        }
    }
    .columns{
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 50px;
        .columm{
            width: 265px;
            display: flex;
            flex-direction: column;
            margin-right: 24px;

            h4{
                font-family: "open sans", sans-serif;
                font-size: 22px;
                font-weight: 600;
                margin-top: 20px;
            }
            p{
                font-family: "open sans", sans-serif;
                font-size: 18px;
            }
            .button{
                width: 172px;
                height: 50px;
                background-color: #ed1847;
                border-radius: 50px;
                margin-top: auto;
                text-align: center;
                padding-top: 12px;
                a {
                    font-family: "open sans", sans-serif;
                    font-size: 16px;
                    color: #fff;
                    text-decoration: none;
                }
    
            }
            .button:hover{
                @include button-hover;
            }
        }
    }
}