@import url(https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);
header {
  width: 100%;
  height: 825px;
  background-image: url("../img/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}
header a {
  text-decoration: none;
  color: #fff;
}
header .header_box {
  height: 100px;
  background-color: #333;
  padding-top: 22px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 150px;
}
header .logo {
  width: 330px;
  display: flex;
}
header .logo img {
  width: 50px;
  height: 50px;
}
header .logo h1 {
  font-size: 30px;
  color: white;
  padding-top: 5px;
  padding-left: 10px;
}
header .nav-menu a:hover {
  color: white;
  border-bottom: 1px #ED1847 solid;
}
header .nav-menu li img {
  width: 40px;
  height: 40px;
}
header .nav-menu li a {
  color: white;
  font-family: "open sans", sans-serif;
}
header h1 {
  font-weight: 500;
  color: white;
  text-align: center;
  font-family: "nunito", sans-serif;
  font-size: 64px;
}
header p {
  text-align: center;
  color: white;
  font-size: 48px;
  font-family: "open sans", sans-serif;
  font-weight: 100;
  padding-left: 30px;
  padding-right: 30px;
}
header .buttons {
  display: flex;
  justify-content: center;
}
header .buttons .btn-1 {
  width: 172px;
  height: 50px;
  border-radius: 50px;
  background-color: #ED1847;
  border: 2px solid;
  border-color: #fff;
  text-align: center;
  padding-top: 9px;
  margin-right: 20px;
}
header .buttons .btn-2 {
  width: 222px;
  height: 50px;
  border-radius: 50px;
  background-color: #333;
  border: 2px solid;
  border-color: #fff;
  text-align: center;
  padding-top: 9px;
}
header .swipe-btn {
  text-align: center;
}
header .swipe-btn img {
  width: 20;
  margin-top: 100px;
}

.global-network {
  height: 937px;
}
.global-network .content {
  width: 100%;
}
.global-network .content .text-box {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.global-network .content .text-box h2 {
  font-family: "nunito", sans-serif;
  font-size: 48px;
  font-weight: 500;
}
.global-network .content .text-box p {
  font-family: "open sans", sans-serif;
  font-size: 18px;
  margin-top: 20px;
}
.global-network .content .city {
  height: 540px;
  display: flex;
  background-image: url("../img/bg-city.png");
  background-size: contain;
  background-repeat: no-repeat;
  justify-content: space-around;
  margin-top: 40px;
}
.global-network .content .city span {
  font-family: "open sans", sans-serif;
  font-size: 21px;
  font-weight: 700;
}
.global-network .content .city .britain {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.global-network .content .city .germany {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.global-network .content .city .canada {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.global-network .content .city .polish {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.global-network .content .city .spain {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.global-network .content .slider {
  justify-content: center;
  width: 100%;
  min-width: 0;
}
.global-network .content .slider .slick-track {
  display: flex;
}
.global-network .content .slider .britain-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 0;
}
.global-network .content .slider .britain-slide span {
  width: 224px;
  text-align: center;
  font-weight: 700;
}
.global-network .content .slider .britain-slide .button {
  width: 224px;
  height: 50px;
  border-radius: 50px;
  background-color: #ed1847;
  margin-top: 20px;
}
.global-network .content .slider .britain-slide .button p {
  font-family: "open sans", sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  padding-top: 12px;
}
.global-network .content .slider .britain-slide .button:hover {
  background-color: #fff;
  border: 2px solid;
  border-color: #ed1847;
}
.global-network .content .slider .britain-slide .button:hover p {
  color: #ed1847;
}
.global-network .content .slider .germany-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 0;
}
.global-network .content .slider .germany-slide span {
  width: 224px;
  text-align: center;
  font-weight: 700;
}
.global-network .content .slider .germany-slide .button {
  width: 164px;
  height: 50px;
  border-radius: 50px;
  background-color: #ed1847;
  margin-top: 20px;
}
.global-network .content .slider .germany-slide .button p {
  font-family: "open sans", sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  padding-top: 12px;
}
.global-network .content .slider .germany-slide .button:hover {
  background-color: #fff;
  border: 2px solid;
  border-color: #ed1847;
}
.global-network .content .slider .germany-slide .button:hover p {
  color: #ed1847;
}
.global-network .content .slider .spain-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 0;
}
.global-network .content .slider .spain-slide span {
  width: 224px;
  text-align: center;
  font-weight: 700;
}
.global-network .content .slider .spain-slide .button {
  width: 154px;
  height: 50px;
  border-radius: 50px;
  background-color: #ed1847;
  margin-top: 20px;
}
.global-network .content .slider .spain-slide .button p {
  font-family: "open sans", sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  padding-top: 12px;
}
.global-network .content .slider .spain-slide .button:hover {
  background-color: #fff;
  border: 2px solid;
  border-color: #ed1847;
}
.global-network .content .slider .spain-slide .button:hover p {
  color: #ed1847;
}
.global-network .content .slider .canada-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 0;
}
.global-network .content .slider .canada-slide span {
  width: 224px;
  text-align: center;
  font-weight: 700;
}
.global-network .content .slider .canada-slide .button {
  width: 141px;
  height: 50px;
  border-radius: 50px;
  background-color: #ed1847;
  margin-top: 20px;
}
.global-network .content .slider .canada-slide .button p {
  font-family: "open sans", sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  padding-top: 12px;
}
.global-network .content .slider .canada-slide .button:hover {
  background-color: #fff;
  border: 2px solid;
  border-color: #ed1847;
}
.global-network .content .slider .canada-slide .button:hover p {
  color: #ed1847;
}
.global-network .content .slider .polish-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 0;
}
.global-network .content .slider .polish-slide span {
  width: 224px;
  text-align: center;
  font-weight: 700;
}
.global-network .content .slider .polish-slide .button {
  width: 148px;
  height: 50px;
  border-radius: 50px;
  background-color: #ed1847;
  margin-top: 20px;
}
.global-network .content .slider .polish-slide .button p {
  font-family: "open sans", sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  padding-top: 12px;
}
.global-network .content .slider .polish-slide .button:hover {
  background-color: #fff;
  border: 2px solid;
  border-color: #ed1847;
}
.global-network .content .slider .polish-slide .button:hover p {
  color: #ed1847;
}/*# sourceMappingURL=style.css.map */